.post {
    display: flex;

    &_image {
        flex: 1;
    }
    
    &_body {
        flex: 1;
        display: grid;
        grid-template-areas: 'header' 'caption' 'footer';
        grid-template-rows: max-content auto max-content;

    }

    &_header {
        grid-area: header;
        display: grid;
        grid-template-columns: max-content auto repeat(2, max-content);
        align-items: center;

    }
    &_caption {
        grid-area: caption;
        display: grid;
        grid-template-areas: 'text text' 'date like';
        grid-template-rows: auto max-content;

        &_text {
            grid-area: text;
            
        }
        &_date {
            grid-area: date;
        }
        &_like {
            grid-area: like;
            text-align: end;
        }
    }
    &_footer {
        grid-area: footer;
    }
}